@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="row">
        <div class="col-md-4">
            
        </div>

        <div class="col-md-4">
            <select multiple>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </div>

        <div class="col-md-4">
            <form action="" class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="Search" placeholder="Search..." class="form-control" />
                    <div class="input-group-btn">
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-12">
       <div class="row">
           <div class="col-sm-3">
               <img src="http://autofrajda.pl/uploads/1412/41.jpg" class="img-responsive" />
           </div>
           <div class="col-sm-9">
               <h3 style="margin-top: 0px;">Passat HIT</h3>
               <h6 style="font-style: italic;">Motoryzacja</h6>
           </div>
       </div>
    </div>
    
</div>