
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("Categories", "Admin")" class="btn btn-success"><i class="glyphicon glyphicon-th-list"></i> Categories</a>
<a href="@Url.Action("Dictionaries", "Admin")" class="btn btn-success"><i class="glyphicon glyphicon-list-alt"></i> Dictionaries</a>
<a href="@Url.Action("UsersManagement", "Admin")" class="btn btn-success"><i class="glyphicon glyphicon-user"></i> Users Management</a>